<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nickivy.dashclocksmsviewer"
    android:versionCode="1"
    android:versionName="0.7" >
    
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="17" />
    
    <application android:label="@string/app_name"
    android:icon="@drawable/ic_icon"
    android:theme="@android:style/Theme.Holo.Light">

    <service android:name=".SMSViewer"
        android:icon="@drawable/ic_icon"
        android:label="@string/extension_title"
        android:permission="com.google.android.apps.dashclock.permission.READ_EXTENSION_DATA">
        <intent-filter>
            <action android:name="com.google.android.apps.dashclock.Extension" />
        </intent-filter>
        <meta-data android:name="protocolVersion" android:value="1" />
        <meta-data android:name="description"
            android:value="@string/extension_description" />
        <meta-data android:name="settingsActivity"
            android:value=".SMSViewerPrefs"/>
    </service>
    <service android:name=".Panel2"
        android:icon="@drawable/ic_icon"
        android:label="@string/extension2_title"
        android:permission="com.google.android.apps.dashclock.permission.READ_EXTENSION_DATA">
        <intent-filter>
            <action android:name="com.google.android.apps.dashclock.Extension" />
        </intent-filter>
        <meta-data android:name="protocolVersion" android:value="1" />
        <meta-data android:name="description"
            android:value="@string/extrapanel_description" />
        <meta-data android:name="settingsActivity"
            android:value=".SMSViewerPrefs"/>
    </service>
    <service android:name=".Panel3"
        android:icon="@drawable/ic_icon"
        android:label="@string/extension3_title"
        android:permission="com.google.android.apps.dashclock.permission.READ_EXTENSION_DATA">
        <intent-filter>
            <action android:name="com.google.android.apps.dashclock.Extension" />
        </intent-filter>
        <meta-data android:name="protocolVersion" android:value="1" />
        <meta-data android:name="description"
            android:value="@string/extrapanel_description" />
        <meta-data android:name="settingsActivity"
            android:value=".SMSViewerPrefs"/>
    </service>
     <activity android:name=".SMSViewerPrefs"
     android:label="@string/title_settings"
     android:exported="true" />

</application>

</manifest>